
.ipynb_checkpoints/z1_zmienne_operatory-checkpoint.ipynb
.ipynb_checkpoints/z2_instrukcje_warunkowe-checkpoint.ipynb
.ipynb_checkpoints/z3_petle_while-checkpoint.ipynb
.ipynb_checkpoints/z4_petle_for-checkpoint.ipynb
.ipynb_checkpoints/z5_listy-checkpoint.ipynb
.ipynb_checkpoints/z6_funkcje-checkpoint.ipynb
.ipynb_checkpoints/z7_kolko_i_krzyzyk-checkpoint.ipynb
.ipynb_checkpoints/z7_kolko_i_krzyzyk-p2-checkpoint.ipynb
